
img {
  src:url('https://hosting.photobucket.com/images/i/kirstyherms/LRM_EXPORT_22509195318360_20190821_182401925.jpeg');
  border: 1px solid pink;
  border-radius: 50%;
  width: 250px;
  height: 180px;

}
